h2,
p {
  color: white;
}

body {
  margin: 10px 0;
}

#wrapper {
  width: 100%;
}

#header {
  background-color: red;
  height: 75px;
  text-align: center;
  padding-top: 5px;
}

#leftside {
  background-color: green;
  height: 500px;
  width: 100%;
  float: left;
}

#footer {
  background-color: blue;
  height: 80px;
  clear: left;
  padding-top: 20px;
}

#footer > p {
  margin: 0;
}
