body {
  background-color: #e1e5ee;
}
#smallCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #2a324b;
}

#smallCircle p {
  text-align: center;
  padding: 40% 0;
  color: #e1e5ee;
}
